@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

/* 1. Defina o tema Padrão (Light) dentro de :root */
:root {
  --color-primary: #3a72cc;
  --color-secondary: #548ce6;
  --color-background: #eefafd;

  --color-background-2: #e0f5ff;

  --color-text: #0F172A;
  --color-text-2: #e2e8f5;

  --color-error: #8e3e3e;
}

/* 
  2. Sobrescreva APENAS as variáveis para o tema Dark
*/
.dark {
  --color-primary: #5b89ff;
  --color-secondary: #6cc4ff;
  --color-background: #0F172A;
  --color-background-2: #1e233d;
  --color-text: #F8FAFC;
  --color-text-2: #051320;

  --color-error: #ca6666;
}

@theme {
  /* O 'var(--...)' conecta o utilitário do Tailwind à variável dinâmica acima */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-bg);
  --color-background-2: var(--color-background-2);
  --color-text-main: var(--color-text);
  --color-text-2: var(--color-text-2);
  --color-error: var(--color-error);
  /* Tipografia */
  --font-title: "Lato", sans-serif;
  --font-body: "Inter", sans-serif, i-sans-serif, system-ui, ;

  /* Animações */

  /* Shadow */
  --drop-shadow-light: 0 0 2em #61dafbaa;
}


@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
    color: var(--color-text);
  }
}

@layer components {
  h2 {
    @apply text-2xl;
  }

  button {
    border-radius: 8px;
    border: 1px solid var(--color-text);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background-2);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: var(--color-secondary);
  }

  button:disabled {
    border: none;
  }

  /* button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */

  .loader-scan {
    max-width: fit-content;
    /* Tamanho do texto */
    font-size: 50px;
    /* Sua fonte configurada */
    font-family: var(--font-title);
    font-weight: 700;
    position: relative;
    /* Cor do texto dinâmica */
    color: var(--color-text);
    /* Importante para o cálculo da altura */
    line-height: 1;
  }

  .loader-scan span {
    display: inline-block;
    /* Necessário para animação funcionar em span */
    animation: cut-horizontal 2.5s linear forwards;
    /* animation: cut 2s 1; */
    /* transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  }

  /* O Laser (Brilho) */
  .loader-scan::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: var(--color-secondary);
    opacity: 0.6;
    filter: blur(10px);
    animation: laser-horizontal 2.5s linear forwards;
    z-index: 0;
  }


  /* O Laser (Linha Sólida) */
  .loader-scan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    /* fino e vertical */
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 4px;
    animation: laser-horizontal 2.5s linear forwards;
    z-index: 1;
  }

  .content-section {
    opacity: 0;
    transform: scale(0.7);
    animation: fadeScale 1s ease forwards;
    animation-delay: 2.5s;
    /* Começa depois que o h1 termina + um respiro */
  }

  .section-enter {
    opacity: 0;
    transform: scale(0.66);
    filter: blur(24px);
    animation: tech-in 0.9s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 2.5s;
  }

}

/* Keyframes */
@keyframes tech-in {
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes laser-horizontal {

  /* nasce à esquerda */
  0% {
    left: 0%;
    height: 100%;
    opacity: 1;
  }

  /* varre o texto */
  70% {
    left: 100%;
    height: 100%;
    opacity: 1;
  }

  /* começa a encolher */
  85% {
    left: 100%;
    height: 40%;
    opacity: 0.6;
  }

  /* desaparece */
  100% {
    left: 100%;
    height: 0%;
    opacity: 0;
  }
}

@keyframes cut-horizontal {

  /* texto totalmente escondido */
  0% {
    clip-path: inset(0 100% 0 0);
  }

  /* laser varrendo */
  70% {
    clip-path: inset(0 0 0 0);
  }

  /* mantém revelado */
  100% {
    clip-path: inset(0 0 0 0);
  }

}

@keyframes fadeScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {


  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #aaaeff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}