@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

/* 1. Defina o tema Padrão (Light) dentro de :root */
:root {
  --color-primary: #3c5e94;
  /* Azul */
  --color-secondary: #9cc2ff;
  /* Azul */
  --color-background: #FFFFFF;
  /* Branco */
  --color-text: #0F172A;
  /* Quase preto */
  --color-error: #8e3e3e;
}

/* 
  2. Sobrescreva APENAS as variáveis para o tema Dark
*/
.dark {
  --color-primary: #5585ff;
  /* Azul mais claro para contraste */
  --color-secondary: #3040775e;
  /* Azul */
  --color-background: #0F172A;
  /* Fundo escuro */
  --color-text: #F8FAFC;
  /* Texto claro */

  --color-error: #ca6666;
}

@theme {
  /* O 'var(--...)' conecta o utilitário do Tailwind à variável dinâmica acima */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-bg);
  --color-text-main: var(--color-text);

  --color-error: var(--color-error);
    /* Tipografia */
  --font-title: "Lato", sans-serif;
  --font-body: "Inter", sans-serif, i-sans-serif, system-ui, ;

  /* Animações */

  /* Shadow */
  --drop-shadow-light: 0 0 2em #61dafbaa;
}


@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
    color: var(--color-text);
  }
}

@layer components {}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

