@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

/* 1. Defina o tema Padrão (Light) dentro de :root */
:root {
  --color-primary: #2353a0;
  --color-secondary: #3264b4;
  --color-background: #eefafd;

  --color-background-2: #e0f5ff;

  --color-text: #0F172A;
  --color-text-2: #e2e8f5;

  --color-error: #8e3e3e;
}

/* 
  2. Sobrescreva APENAS as variáveis para o tema Dark
*/
.dark {
  --color-primary: #5585ff;
  --color-secondary: #6cc4ff;
  --color-background: #0F172A;
  --color-background-2: #1e233d;
  --color-text: #F8FAFC;
  --color-text-2: #051320;

  --color-error: #ca6666;
}

@theme {
  /* O 'var(--...)' conecta o utilitário do Tailwind à variável dinâmica acima */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-bg);
  --color-background-2: var(--color-background-2);
  --color-text-main: var(--color-text);
  --color-text-2: var(--color-text-2);
  --color-error: var(--color-error);
  /* Tipografia */
  --font-title: "Lato", sans-serif;
  --font-body: "Inter", sans-serif, i-sans-serif, system-ui, ;

  /* Animações */

  /* Shadow */
  --drop-shadow-light: 0 0 2em #61dafbaa;
}


@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
    color: var(--color-text);
  }
}

@layer components {
  h2 {
    @apply text-2xl;
  }

  button {
    border-radius: 8px;
    border: 1px solid var(--color-text);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background-2);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: var(--color-secondary);
  }

  button:disabled {
    border: none;
  }

  /* button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */

}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
 
  
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #aaaeff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}